.header {
  .list {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    color: white;
  }

  .btn {
    background-color: #f9bc60;
    color: #001e1d;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
}
